
.accountBoxDetail{
  height: 100%;
  font-size: 13px;
  width: 1124px;
  padding-bottom: 8px;
  margin-bottom: 1px;
  margin-left: 15px;
}

.headerTableMovements {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #004578;
  padding: 15px;
  color: white;
}

.wrapperTableMovements {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
  padding-bottom: 15px;
  background-color: white;
}

@media (max-width: 525px){
  .accountBoxDetail{
    font-size: 10px;
    padding: 0;
  }
}

@media (max-width: 360px){
  .accountBoxDetail{
    font-size: 7px;
  }
}

.accountBoxDetail > p{
  margin: 0;
}

.accountBoxDetail .title {
  font-weight: 700;
  font-size: 1.231em;

}

@media (max-width: 1176px){
  .accountBoxDetail{
    width: 100%;
  }
}
